In [1]:
import pandas as pd
import numpy as np

In [23]:
a = {
  "passanger": 0,
  "coupon": 0,
  "CoffeeHouse": 0,
  "destination": 0,
  "expiration": 0,
  "toCoupon_GEQ25min": 1,
  "Bar": 0,
  "gender": 0,
  "Restaurant20To50": 0,
  "temperature": 2
}

In [6]:
a.items()

dict_items([('passanger', 0), ('coupon', 0), ('CoffeeHouse', 0), ('destination', 0), ('expiration', 0), ('toCoupon_GEQ25min', 0), ('Bar', 0), ('gender', 0), ('Restaurant20To50', 0), ('temperature', 0)])

In [9]:
pd.DataFrame(a.items())

                   0  1
0          passanger  0
1             coupon  0
2        CoffeeHouse  0
3        destination  0
4         expiration  0
5  toCoupon_GEQ25min  0
6                Bar  0
7             gender  0
8   Restaurant20To50  0
9        temperature  0

In [8]:
from mlflow.sklearn import load_model

In [10]:
model = load_model(".\model")

In [17]:
df = pd.DataFrame([{
  "passanger": 0,
  "coupon": 0,
  "CoffeeHouse": 0,
  "destination": 0,
  "expiration": 0,
  "toCoupon_GEQ25min": 0,
  "Bar": 0,
  "gender": 0,
  "Restaurant20To50": 0,
  "temperature": 0
},
{"passanger": 0,
  "coupon": 0,
  "CoffeeHouse": 1,
  "destination": 0,
  "expiration": 0,
  "toCoupon_GEQ25min": 0,
  "Bar": 0,
  "gender": 0,
  "Restaurant20To50": 0,
  "temperature": 1}])

In [18]:
model.predict(df)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

array([0, 0], dtype=int64)

In [27]:
data = [
  {
    "passanger": 0,
    "coupon": 0,
    "CoffeeHouse": 0,
    "destination": 0,
    "expiration": 0,
    "toCoupon_GEQ25min": 1,
    "Bar": 0,
    "gender": 0,
    "Restaurant20To50": 0,
    "temperature": 2
  }
]

In [28]:
df = pd.DataFrame(data)
df

,passanger,coupon,CoffeeHouse,destination,expiration,toCoupon_GEQ25min,Bar,gender,Restaurant20To50,temperature
0,0,0,0,0,0,1,0,0,0,2

In [30]:
a = {
  "passanger": [
    0
  ],
  "coupon": [
    0
  ],
  "CoffeeHouse": [
    0
  ],
  "destination": [
    0
  ],
  "expiration": [
    0
  ],
  "toCoupon_GEQ25min": [
    0
  ],
  "Bar": [
    0
  ],
  "gender": [
    0
  ],
  "Restaurant20To50": [
    0
  ],
  "temperature": [
    0
  ]
}

In [32]:
df = pd.DataFrame.from_dict(a)
df

,passanger,coupon,CoffeeHouse,destination,expiration,toCoupon_GEQ25min,Bar,gender,Restaurant20To50,temperature
0,0,0,0,0,0,0,0,0,0,0